.card{
    color: #e75c40;
    background-color: gold;
    border: 1px solid #e75c40 !important;
    border-radius: 0px;
}

button {
    color: #e75c40;
    background-color: gold;
    border: 1px solid #e75c40 !important;
    border-radius: 0px;
}

button:hover{
    color: gold;
    background-color: #e75c40 !important;
    border: 1px solid gold !important;
    border-radius: 0px;
}