.card{
    color: #5e3493;
    background-color: gold;
    border: 1px solid #5e3493 !important;
    border-radius: 0px;
}

button {
    color: #5e3493;
    background-color: gold;
    border: 1px solid #5e3493 !important;
    border-radius: 0px;
}

button:hover{
    color: gold;
    background-color: #5e3493 !important;
    border: 1px solid gold !important;
    border-radius: 0px;
}